.main-box{
	height:400px;
}
.list{
	padding: 4px 0 4px 0;
	}
#ins-recom-list{
	display:none;
	margin-top:30px;
	flex-direction: column;
	align-items: flex-start;
}
.wrapper{
	align-items: center;
    display: flex;
    flex-direction: column;
}
.birth-wrapper, .gender-wrapper{
	flex-direction: row;
}
.input-btn-design{
	color: white;
    border: 1px solid #0dcaf0;
    background-color: #0dcaf0;
    border-radius: 7px;
    margin-top: 30px;
}
.btn-design{
	background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 0 3px 0 3px;
}
.disp{
	display: flex;
	margin: 10px 0 10px 0;
}

.input-design{
	border: none;
    border-bottom: 1px solid black;
    width: 100px;
    text-align: center;
}
.text-width{
	width: 100px;
    text-align: left;
    padding-right: 10px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
    background-color: #15751b;
    border-color: #4caf50;
}

.fw-normal {
    color: green;
}